body {
    font-family: sans-serif;
    background:#9b9b9b url('imagenes/fondo.jpg') center center;
    background-size:100% 100%;
    background-attachment: fixed;
}

.favicon-web{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    background-size: 30px;
}


nav {
    outline: 1px solid rgb(235, 114, 225);
    box-shadow:inset 0 0 15px 0 rgba(207, 166, 241, 0.3); 
    
}

ul{
    outline: 1px solid black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
    line-height: 40px;
    background-color: lightblue;
    
}

li {
    width: 100px;
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

a:hover {
    background-color: rgb(201, 128, 139);;
    color: white;
}

.header{
    text-align: center;
}

.title{
    text-align: center;
    margin-top: 100px;
    text-shadow: aliceblue;
    color: #FFFFFF;
    background-size: 100px;
}

.title2{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
}

.social-red{
    background-size: 30px;   
}

a{
    justify-content: space-evenly;
    display: inline-block;
    border-radius: 20%;
}

.characterics{
    text-align: center;
}

.foto-perfil{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius:77% 23% 50% / 70% 67%;
    background-size: 100% auto;
}


.fabicon{
    background-size: 30px;
    width: 50px; height: 50px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    justify-content: center;
    margin-top:10px; margin-right: 70px; margin-bottom:10px; margin-left: 70px;
    
}

.skill{
    display: inline-flex;
    width: 90px; height: 90px;
    margin-top:20px; margin-right: 30px; margin-bottom:20px; margin-left: 30px;
    
}



/* Imagen de fondo de mi página web.*/
/* Fuente 1: https://www.lawebdelprogramador.com/codigo/CSS/2344-Anadir-una-imagen-de-fondo-de-pantalla-que-ocupe-todo-el-navegador-con-css3.html*/
/*Fuente 2: https://es.godaddy.com/blog/imagen-responsive-en-css3-para-el-fondo-de-tu-web/*/
html {
    height:100%;
    width:100%;
}

 

/*body {
  background: #51D1F6;  /*#FF0000;*/  /*#050505;/
}*/

.Bienvenida {
  display: inline-block;
  font-size: 300%;/*150px;*/
  opacity: 0;
  font: 'Aclonica';/*; arial, sans-serif;*/
  font-family: 'Kalam'; /*, Brush Script MT, Brush Script Std, cursive*/
}


.centrar {
margin-right: auto;
margin-left: auto;
color: red; /*#FFFFFF;*/
margin: auto;
width: 100%;
text-align: center;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(156,156,156); /* Fallback color */
  /*background-color: rgba(0,170,228,0); /* Black w/ opacity */
  /*background-image: url('imagenes/mano-robot.jpg');*/
  background-image: url('imagenes/eye_robot.jpg');  /*mano-robot*/
  background-size:100% 100%;
  background-attachment: fixed;
}


