body {
    font-family: sans-serif;
}

nav {
    outline: 1px solid rgb(235, 114, 225);
    
}

ul{
    outline: 1px solid black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
    line-height: 40px;
    
}

li {
    width: 100px;
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

a:hover {
    background-color: rgb(201, 128, 139);;
    color: white;
}

.header{
    text-align: center;
}

.title{
    text-align: center;
    margin-top: 100px;
}

.title2{
    text-align: center;
}

.social-red{
    background-size: 30px;
    justify-content: center;
}

.characterics{
    text-align: center;
}



.fabicon{
    background-size: 30px;
    width: 50px; height: 50px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    justify-content: center;
    margin-top:10px; margin-right: 70px; margin-bottom:10px; margin-left: 70px;
    
}

.softkill{
    display: inline-flex;
    width: 90px; height: 90px;
    margin-top:20px; margin-right: 30px; margin-bottom:20px; margin-left: 30px;
    
}



/* Imagen de fondo de mi página web.*/
/* Fuente 1: https://www.lawebdelprogramador.com/codigo/CSS/2344-Anadir-una-imagen-de-fondo-de-pantalla-que-ocupe-todo-el-navegador-con-css3.html*/
/*Fuente 2: https://es.godaddy.com/blog/imagen-responsive-en-css3-para-el-fondo-de-tu-web/*/
html {
    height:100%;
    width:100%;
}
body{
    background:#8ba987 url('imagenes/mano-robot.jpg') center center;
    background-size:100% 100%;
    background-attachment: fixed;
}

 